.posts {
    border: 1px solid #eee;
    position: relative;
    min-width: 80vh;
    min-height: 30vh;
}

.posts-header {
    display: flex;
    justify-content: center;
}

.posts-tag {
    color: aqua;
}

.posts-comments {
    border: 1px solid #eee;
    font-size: 10px;
}

.comments-comment {
    display: inline-block;
}

.comments-input {
    display: inline-block;
}

    .comments-input input {
        width: 300px;
    }

.comments-button {
    display: inline-block;
}

.deletecomment-button {
    display: inline-block;
    bottom: 10px;
}

.button-delete {
    background: #f2f2f2;
    border: 1px solid #000; /* В ожидании набирающего популярность темного режима, рамка черного цвета */
    color: #333;
    text-decoration: none;
    text-align: center;
}

    .button-delete:hover, .button-delete:focus {
        background: #e2e2f2; /* Эффект при наведении — дополнительное оформление */
    }
