.bodylog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginwr {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #7C8685;
    overflow: hidden;
}

    .loginwr .form-box {
        position: absolute;
        top: 0;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .loginwr .form-box.login {
            left: 0;
            padding: 0 60px 0 40px;
        }

            .loginwr .form-box.login .animation {
                transform: translateX(0);
                opacity: 1;
                filter: blur(0);
                transition: .7s ease;
                transition-delay: calc(.1s*var(--j));
            }

    .loginwr.active .form-box.login .animation {
        transform: translateX(-120%);
        opacity: 0;
        filter: blur(10px);
        transition-delay: calc(.1s*var(--i));
    }

    .loginwr .form-box.register {
        right: 0;
        padding: 0 40px 0 60px;
        pointer-events: none;
    }

    .loginwr.active .form-box.register {
        pointer-events: auto;
    }

    .loginwr .form-box.register .animation {
        transform: translateX(120%);
        opacity: 0;
        filter: blur(10px);
        transition: .7s ease;
        transition-delay: calc(.1s*var(--j));
    }

    .loginwr.active .form-box.register .animation {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
        transition-delay: calc(.1s*var(--i));
    }


.form-box h2 {
    font-size: 32px;
    color: #050507;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #050507;
    padding-right: 23px;
    font-size: 16px;
    color: #050507;
    font-weight: 500;
    transition: .5s;
}

    .input-box input:focus,
    .input-box input:valid {
        border-bottom-color: #7C8685;
    }

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #050507;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #8b9c3c;
}

.loginbtn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px thick #050507;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #050507;
    z-index: 1;
    overflow: hidden;
}

    .loginbtn::before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 300%;
        background: linear-gradient(#7C8685,#AAACA1,#7C8685);
        z-index: -1;
        transition: .5s;
    }

    .loginbtn:hover::before {
        top: 0;
    }

.form-box .logreg-link {
    font-size: 14px;
    color: #050507;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    color: #7C8685;
    text-decoration: none;
    font-weight: 600;
}

    .logreg-link p a:hover {
        text-decoration: underline;
    }

.loginwr .info-text {
    position: absolute;
    top: 0;
    width: 48%;
    height: 100%;
    color: #050507;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .loginwr .info-text.login {
        right: 0;
        text-align: right;
        padding: 0 10px 0 0;
    }

        .loginwr .info-text.login .animation {
            transform: translateX(0);
            opacity: 1;
            filter: blur(0);
            transition: .7s ease;
            transition-delay: calc(.1s*var(--j));
        }

.loginwr.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s*var(--i));
}

.loginwr .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 0 0 10px;
    pointer-events: none;
}

.loginwr.active .info-text.register {
    pointer-events: auto;
}

.loginwr .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s*var(--j));
}

.loginwr.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s*var(--i));
}

.info-text h2 {
    font-size: 32px;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 13px;
}
.erroe{
    position:absolute;
    z-index:1000;
}